body {
	font-family: Helvetica Neue;
	font-weight: 200;
	text-align: center;
}

#oneonly {
	text-align: center;
}

.controls {
	margin-bottom: 1em;
	font-size: 12px;
}

.controls label, .controls input {
	vertical-align: middle;
	line-height: 1em;
}

.help {
	margin: 1em 0;
	font-size: 12px;
	color: #888;
}

.wrapper {
	text-align: center;
	width: 100%;
	max-width: 400px;
	margin: 0 auto 1em;
	overflow: hidden;
}

#volume {
	margin-bottom: 1em;
	font-size: 14px;
	color: #666;
}

#volume > * {
	vertical-align: middle;
}

#online {
	font-size: 12px;
	text-align: center;
	margin: 0 auto 1em;
}

#error {
	font-size: 12px;
	color: #C33;
}

#log {
	font-size: 10px;
	text-align: left;
	width: 80%;
	margin: 1em auto 0;
	color: #777;
	font-weight: normal;
	border: 1px solid #DDD;
	padding: 4px;
	max-height: 140px;
	overflow: auto;
}

#log p {
	margin: 0;
}

#log p:nth-of-type(odd){
	background: #eee;
}

.pad {
	box-sizing: border-box;
	padding: 5%;
	width: 31%;
	float: left;
	margin: 1%;
	min-height: 80px;

	background: #eee;
	border: 1px solid #ccc;
	border-radius: 6px;
	text-transform: uppercase;
}

.pad[disabled]{
	background: #fafafa;
	color: #ccc;
}

.pad:hover {
	background: #ddd;
	border: 1px solid #bbb;
	cursor: pointer;
}

.pad.active {
	background: #fdd;
}

.pad:active, .pad:focus {
	outline: none;
}
